<div>
    <h1>Typescript app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates culpa impedit consequatur. Exercitationem consequuntur cum obcaecati quam modi laboriosam odit dolores iure, impedit expedita nisi repellendus molestias quae. Reprehenderit, eveniet.</p>
    <a href="#" class="btn btn-primary btn-lg">
        Tasks List
    </a>
</div>