<div>
    <h1>Typescript app</h1>
    <p>Esta es tu aplicación ideal para gestionar tus tareas habituales</p>
    <a href="/tasks/create" class="btn btn-primary btn-lg">
        Añadir tarea
    </a>
</div>